In [1]:
print("hellow world")

hellow world

In [3]:
my_variable=7
print("my_variable")

my_variable

In [7]:
a=10;
b=20;
print("value of letter a is: ", a)

value of letter a is:  10

In [7]:
# silgle line not run commant
Apple=20;
banana=30;
total=Apple+banana;
print("Total number of ",total)

Total number of  50

In [3]:
NAME="Deva"
age=19;
print(type(NAME))
print(NAME)
print(type(age))
print(age)

<class 'str'>
Deva
<class 'int'>
19

In [23]:
k0=8;
k1=8.9;
k2=8+3j;
k3=8.ij;
print(int(k1))
print(float(k1))
print(str(k2))
print(complex(k1))

SyntaxError: invalid decimal literal (2894535291.py, line 4)